/* contact.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

div {
  /* background: white; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #0056b3;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

label input[type="checkbox"] {
  display: inline;
  margin-left: 5px;
}

